.title-container{
    width: 100%;
    height: 100vh;
    text-align: center;
    /*background-image: url(../../assets/home/parallax-2.png),url(../../assets/home/parallax-1.png);
    background-position: bottom;
    background-repeat: no-repeat;*/
}

.title-change-color{
    background-color: #ffffff;
}

.back-container{
    position: absolute;
    z-index: -1;
}

.title-container>div>.title{
    color: #ffffff;
    font-size: 2em;
    font-size: 48px;
    margin-top: 70px;
}

.title-container>.elem-container{
    padding-top: 5em;
    z-index: 2;
}

.pd-1{
    padding-top: 5em;
}

.list-img-title{
    width: auto;
    height: 5em;
}

.pd-left-3{
    padding-left: 3em;
}

.btn-explore{
    width: 180px;
    height: 50px;
    background-color: #ca3e47;
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: all 1s ease;
    font-size: 18px;
    font-family: Avenir;
}

.logo-img{
    width: auto;
    height: 10em;
}

.back-img{
    width: 100%;
    height: 100vh;
}

.meet-them{
    height: 100vh;
}

.meet-left{
    text-align: left;
    padding-top: 3em;
}

.meet-rigth{
    text-align: right;
}

.meet-container{
    height: 50%;
    padding-left: 3em;
    padding-right: 3em;
}

.meet-container>div:first-child{
    padding-bottom: 2em;
}

.title-meet{
    color: #ffffff;
    font-size: 3em;
}

.text-meet{
    color: #ffffff;
    font-size: 1em;
}
