.title-container{
    width: 100%;
    height: 100vh;
    text-align: center;
}

.title-container-section-on{
    width: 100%;
    text-align: center;
    height: 100%;
}

.main-navbar{
    position: fixed;
    width: 100%;
    height: 4em;
    text-align: right;
}

.main-navbar>div{
    padding-top: 2em;
    padding-right: 3em;
}

.logo-navbar{
    height: 3em;
    width: auto;
    padding-top: 23px;
    padding-left: 18px;
}

.title-change-color-W{
    background: #ffffff;
    transition: background 2s ease !important;
}

.title-change-color-B{
    background: #0d3940;
    transition: background 2s ease !important;
}
.back-container{
    position: absolute;
    z-index: -1;
    height: 100vh;
}

.main-title{
    color: #ffffff;
    font-size: 3em !important;
    font-size: 48px;
    font-family: 'baseFont', sans-serif;
}

.title-container>.elem-container{
    padding-top: 5em;
    z-index: 2;
}

.title-container-section-on>.elem-container{
    padding-top: 5em;
    z-index: 2;
}

.list-img-title{
    width: auto;
    height: 4em;
    cursor: pointer;
    
}

.btn-section{
    background-color: #fff0;
    border: none;
}

.pd-left-3{
    padding-left: 3em;
}

.btn-explore{
    width: 180px;
    height: 50px;
    background-color: #ca3e47;
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: all 1s ease;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

.btn-explore:hover{
    background-color: #a51d26;
}

.logo-container{
    width: 100%;
    height: 10em;
}

.navbar-on-after{
    position: fixed;
    width: 80%;
    top:0;
}

.navbar-section-open{
    transform: translate(30em,-18em) !important;
}

.section-on-img{
    display: none;
}

.pd-1{
    padding-top: 3em;
    transition: transform 0.5s linear;
    position: absolute;
    width: 100%;
}

.navbar-on-section-container{
    width: 100%;
    height: 3em;
    position: fixed;
    padding-right: 2em;
    transition: transform 0.5s linear;
    transform: translate(calc(80vw*.47),calc(-142vh*.47));
    padding-top: 1%;
}

.logo-img{
    width: auto;
    height: 10em;
    transition: transform 0.5s linear;
}
.navbar-on{
    width: calc(20vw*.5);
    top: 0;
    cursor: pointer;
    transition: transform 0.5s linear;
    transform: translate(calc(-70vw*.47));
    padding-top: 1%;
}

.parallax-background{
    transition: all .5s linear;
}

.back-img{
    width: 100%;
    height: 100vh;
}

#meet-them-container{
    height: auto;
}

.meet-left{
    text-align: left;
}

.meet-rigth{
    text-align: right;
}

.meet-container{
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 4em;
}

.pd-1-top{
    padding-top: 1em !important;
}

.pd-5-bottom{
    padding-bottom: 5vw !important;
}

.meet-container>div{
    padding-bottom: 2rem;
}

.title-meet{
    color: #ffffff;
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
}

.text-meet{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.section-view-active{
    height: auto;
    padding-top: 1vw;
}

.img-section{
    height: 20em;
    width: auto;
    padding-bottom: 3em;
}

.summary-section{
    padding-left: 10%;
    padding-right: 10%;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.pd-top-3-vw{
    padding-top: 3vw;
}

.section-container-on{
    width: 100%;
    height: 3em;
    cursor: pointer;
    position: fixed;
    padding-right: 2em;
    transition: transform 0.5s linear;
    transform:  translate(calc(85vw*.47),calc(-9vw*.47));
}

.navbar-on-mobile{
    width: 100px;
    top: 0;
    cursor: pointer;
    transition: transform 0.5s linear;
    transform: translate(calc(100vw*-.2));
    padding-top: 2vw;
}

.logo-img-mobile{
    width: 88vw;
    transition: transform 0.5s linear;
}