.title-container{
    width: 100%;
    height: 100vh;
    text-align: center;
}

.title-container>div>.title{
    color: #ffffff;
    font-size: 2em;
    font-size: 48px;
    margin-top: 70px;
}

.title-container>div{
    padding-top: 5em;
}

.pd-1{
    padding-top: 5em;
}

.list-img-title{
    width: auto;
    height: 5em;
}

.pd-left-3{
    padding-left: 3em;
}

.btn-explore{
    width: 180px;
    height: 50px;
    background-color: #ca3e47;
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: all 1s ease;
    font-size: 18px;
    font-family: Avenir;
}

.logo-img{
    width: auto;
    height: 10em;
}