:root{
    --padding-content:3vw;
}

.footer {
    color: white;
    display: flex;
    height: 30vw;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    padding-top: 3vw;
}

.footer-info{
    width: 60%;
    height: 100%;
    background: #032126;
}

.footer-contact{
    width: 40%;
    height: auto;
    background: #066a7c;
    margin-top: 6vw;
}

.footer-container{
    padding-left: var(--padding-content);    
    padding-right: var(--padding-content);
    padding-top: var(--padding-content);
    display: flex;
    flex-direction: column;
}

.footer-title{
    font-size: 25px;
}

.footer-content-5{
    font-size: 15px;
}

.footer-content-8{
    padding-top: 2.5vh;
    font-size: 20px;
}
.footer-center{
    text-align: center;
}

hr.style-grad {
    border: 0;
    height: 1px;
    background: #fff;
    /*background-image: linear-gradient(to right, #ccc, #fff, #ccc);*/
    width: 8vw;
    margin-left: 1vw;
}

.footer-button-container{
    padding: 2em 1em;
    padding-right: 1em;
}

.footer-button{
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.button-arrow{
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);   
}

.list-contact{
    list-style: none;
    padding-left: 0;
}

.list-contact-social{
    list-style: none;
    display: flex;
    padding-top: 5vh;
    justify-content: center;
    padding-left: 0;
    margin-top: 0;
}

.list-item-icon{
    padding-left: 10px;
    font-size: 15px;
}

.list-item{
    list-style: none;
}

.footer-container-contact{
    display: flex;
    flex-direction: column;
    padding-left: var(--padding-content);    
    padding-right: var(--padding-content);
}

.list-item-social{
    cursor: pointer;
}

.pd-left-3{
    padding-left: 30px;
}


.footer-info-resp{
    width: 100%;
    height: auto;
    background: #032126;
}

.footer-contact-resp{
    width: 100%;
    height: auto;
    background: #066a7c;
}
